@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap');
@import url('./nav.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-primary: hsl(354, 100%, 67%);
  --theme-secondary: hsl(37, 100%, 60%);
  --theme-primary-darker: hsl(354, 79%, 57%);
  --theme-secondary-darker: hsl(37, 100%, 50%);
}

.theme-default {
  --background: hsl(0, 0%, 100%);
  --section-background: hsl(0, 100%, 98%);
}

/*
.theme-dark {
  --background: hsl(195, 6.9%, 11.4%);
  --section-background: hsl(208.2, 39.5%, 16.9%);
}
*/

.theme-dark {
  --background: hsl(195, 46%, 5%);
  --section-background: hsl(210, 80%, 12%);
}

.title-name {
  background: linear-gradient(180deg, #fca311 0%, #eb5160 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.theme-default main {
  background: url('/hero-light-background.svg');
}

.theme-dark main {
  background: url('/hero-dark-background.svg');
}

.theme-default main,
.theme-dark main {
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-image-bg {
  background: linear-gradient(180deg, #fca311 0%, #eb5160 100%);
}
